.account-container {
    display: flex;
    flex-direction: column;
}

.first-row-card {
    display: flex;
    flex-direction: row;
}
.second-row-card {
    display: flex;
    flex-direction: row;
}

.account-title h2 {
    margin: 35px;
    font-size: 30px;
    font-weight: bold;
}